<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.order.mapper.OrderMapper">

    <select id="getCanCalculateRebateOrder" resultType="xmu.oomall.order.domain.OrderPo">
        select id,user_id,order_sn,status as statusCode,consignee,mobile,message,goods_price,coupon_price,rebate_price,
        freight_price,integral_price,ship_sn,ship_channel,ship_time,confirm_time,end_time,pay_time,parent_id,address,
        gmt_create,gmt_modified,is_deleted as beDeleted
        from oomall_order
        where confirm_time &gt; #{startTime}
        and confirm_time &lt; #{endTime}
        and (status=6 or status=7 or status=8);
    </select>


    <select id="getOrderPoById" parameterType="Integer" resultType="xmu.oomall.order.domain.OrderPo">
        select id,user_id,order_sn,status as statusCode,consignee,mobile,message,goods_price,coupon_price,rebate_price,
        freight_price,integral_price,ship_sn,ship_channel,ship_time,confirm_time,end_time,pay_time,parent_id,address,
        gmt_create,gmt_modified,is_deleted as beDeleted
        from oomall_order
        where id = #{id};
    </select>

    <update id="updateOrderByOrderId" parameterType="Integer">
        update oomall_order set status = #{1} where id = #{0};
    </update>

</mapper>
